
/* COLORS */
.color-orange {
    color: #ED6A5A;
}

.color-blue {
    color: #002146;
}

.color-lowblue{
    color: #30D6E6;
}

.color-gray {
    color: #4C5454;
}

.nav-link {
    color: #fff !important;
    font-weight: 400;
    font-size: 15px;
}

.nav-link:hover{
    color: #ED6A5A !important;
}

.nav-tabs .nav-link {
    margin-bottom: -5px;
    border: 1px solid transparent !important;
    color: #002146 !important;
    font-weight: 700;
    font-size: 20px;
}

/* BACKGROUNDS */

.bg-blue {
    background-color: #002146;
}

.bg-light {
    background-color: transparent !important;
    transition: 0.5s ease;
}

.bg-light.scrolled {
        background-color: #002146 !important;
}

.bg-blue-1 {
    background-image: url(/img/v1/fondos/fondo-1.svg);
    background-position: center;
    background-size: cover;
    min-height: 600px;
}


.bg-2 {
    background-image: url(/img/v1//fondos/fondo-2.svg);
    background-position: center;
    background-size: cover;
    min-height: 362px;
}
.bg-blue-2 {
    background-color: #002146;
    border-radius: 28px;
}

.bg-blue-3 {
    background-image: url(/img/v1/fondos/fondo-3.svg);
    background-position: center;
    background-size: cover;
    min-height: 600px;
}

#pills-tabContent {
    background: #002146 !important;
}
.btn-outline-secondary {
    border: none;
}
.text-title2.active {
    background: #002146 !important;
    border-radius: 10px 10px 0px 0px !important;
    color: #fff !important;
}

/*buttons*/

.btn-primary {
    background-color: #ED6A5A;
    padding-right: 30px;
    padding-left: 30px;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    border-radius: 10px;
}
.btn-primary:hover {
    background-color: #30D6E6;
    
}
.btn-secondary {
    background-color: #ED6A5A;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    border-radius: 10px;
} .btn-secondary:hover {
    background-color: #30D6E6;
    
    
}
.btn-light {
    background-color: #30D6E6;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;

}

/*padding*/

.pad{
    padding-top: 80px;
    padding-bottom: 40px;
}
.pad-1 {
    padding-top: 100px;
}  @media (max-width: 1200px) {
    .pad-1 {
        padding-top: 80px !important;
    }
    .pad-1 h1 {
        font-size: 35px;
    }
} @media (max-width: 992px) {
    .pad-1 {
        padding-top: 30px !important;
        text-align: center !important;
    }
    .pad-1 h1 {
        font-size: 45px;
    }
    .pad-2 {
        padding-bottom: 20px;
    }
}

.p-link {
    padding-right: 10px;
}
.p-info {
    padding:58px ;
} @media (max-width: 1000px) {
    .p-info {
        padding: 10px 110px 10px 110px ;
    }
} @media (max-width: 430px) {
    .p-info {
        padding: 10px 10px 10px 10px ;
    }
}
.exani {
    padding-top: 110px;
}

.orgullo-txt-1 {
    position: relative;
    top: 75px;
}

.pad-50 {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
/**/

* {
    font-family: 'Roboto';
}

.bg-blue p {
    font-weight: 300;
}

.bg-naranja {
    background-image: url(/img/v1/naranja.svg);
    background-repeat: no-repeat;
    background-position: right;
} @media (max-width: 1000px) {
    .bg-naranja {
        background-position: right bottom;
    }
} @media (max-width: 430px) {
    .bg-naranja {
        background-position: right bottom;
    }
}

.bg-naranja-3 {
    background-image: url(/img/v1/naranja.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

.orgullo-sapius {
    padding-top: 30px;
    padding-bottom: 30px;
} @media (max-width: 1000px) {
    .orgullo-sapius {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.orgullo-txt {
    padding-top: 130px;
} @media (max-width: 1000px) {
    .orgullo-txt {
        padding-top: 0px;
    }
}
.orgullo-txt h1 {
    font-size: 50px;
} @media (max-width: 430px) {
    .orgullo-txt h1 {
        font-size: 35px;
    }
}

.card {
    position: relative;
    left: 150px;
    height: 400px;
    width: 300px;
    border-color: transparent;
    border-radius: 20px;
    box-shadow: .2px 0 0.8em rgba(128, 128, 128, 0.29);
}  @media (max-width: 1000px) {
    .card {
        left: 0px !important; 
    }
    .centro-card {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.cabecera-orgullo {
    margin-top: 35px;
}

.maestros p {
    font-weight: 300;
    font-size: 16px;
}

#modalidades h2 {
    color: #3a3a3a;
    font-weight: 700;
}

li {
    font-weight: 200;
    line-height: 32px;
    color: #fff;
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #ED6A5A;
    text-decoration: none;
}

.icono {
    font-size: 25px;
}

.exani p {
    text-align: justify;
}

.titular {
    text-align: center;
}

.titular h2 {
    line-height: 30px;
}

.titular span {
    font-weight: 300;
    font-size: 22px;
}
.posicion {
    position: relative;
    top: 135px;
}
.caracteristicas {
    font-size: 20px;
}

hr {
    position: relative;
    right: 30px;
    width: 305px;
}
.check {
    position: relative;
    left: 140px;
}
.check-1 {
    position: relative;
    left: 180px;
}
.check-2 {
    position: relative;
    left: 112px;
}
.check-3 {
    position: relative;
    left: 165px;
}
.check-4 {
    position: relative;
    left: 212px;
}
.check-5 {
    position: relative;
    left: 152px;
}
.check-6 {
    position: relative;
    top: -20px;
    left: 142px;
}
.check-7 {
    position: relative;   
    left: 156px;
}

.fa-star {
    color: gold;
}

.cta-1 {
    line-height: 30px;
}

.juntos {
    color: #fff;
}
.color-text {
    color: #30D6E6;
}
.pad-2 {
    padding-top: 110px;
}
.text-sub-title1 {
    color: #fff;
}

.carousel__anterior,
.carousel__siguiente {
    display: none;
}

.texto-carousel-1 {
    text-align: justify;
}

.glider-dot {
    background: #EE7768;
    opacity: .2;
}
.glider-dot:hover {
    background: #EE7768;
    opacity: .5;
}

.glider-dot.active {
    background: #EE7768;
    opacity: 1;
}

#incluido .row {
    padding: 40px;
}

#incluido h2{
    color: #3a3a3a;
    font-weight: 600;
    
}

.prueba-2 {
    background: url(/v1/);
}